---
layout: archive
permalink: /astar-lab/
title: "ASTAR Lab"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

<!-- {% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %} -->
<h1>ASTAR Lab: Autonomous Systems TRust &amp; Assurance</h1>

<p>
  <strong>Our mission</strong> is to advance the security, resilience, and trustworthiness of AI-powered autonomous systems. We focus on safeguarding UAVs, autonomous vehicles, and smart transportation networks against cyber and physical threats through cutting-edge research in trustworthy AI, secure localization, multi-modal sensing, and resilient cyber-physical infrastructures.
</p>

<hr>

<h2>Current Members</h2>

<h3>Students</h3>
<ul>
  <li><strong>Dev Patel</strong> – Graduate Student, Research focus: Secure UAVs and localization systems.</li>
  <li><strong>Kowshik</strong> – Graduate Student, Research focus: Trustworthy AI for autonomous vehicles.</li>
  <li><strong>Augusto</strong> – Graduate Student, Research focus: Multi-modal sensing and resilient CPS.</li>
</ul>

<hr>

<h2>Grants Supporting ASTAR Lab</h2>

<ul>
  <li>
    <strong>[New]</strong> NSF, "CRII: SaTC: MUSE: MUlti-modal Security Enhancement for Cyber Resilient UAV Operation," Period: 10/01/2025 - 09/30/2027, $175k, Role: <strong>Sole-PI</strong>, Project Info: 
    <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2451471&HistoricalAwards=false">MUSE</a>
  </li>
  <li>
    NRI, "TRUST-V2X: Enhancing Security and Trustworthiness of AI in Multi-Modal Collaborative Sensing for Autonomous Vehicles to Everything," $100K, 2025-2026, Role: <strong>PI</strong>, Project Info: TBA.
  </li>
</ul>

---


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-P5LS8FJ1QJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-P5LS8FJ1QJ');
</script>