---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<h2>Recent Talks</h2>

<ul>
  <li>
    <strong>Towards Secure and Trustworthy Unmanned Vehicle Localization</strong><br>
    <strong>Time:</strong> November 14, 2025<br>
    <strong>Location:</strong> University of Nevada-Reno, Nevada<br>
    <strong>Event:</strong> The 6th Workshop on Enhanced Open Networked Airborne Computing Platform
  </li>
  <li>
    <strong>Enhancing Localization Trustworthiness in GPS-Challenged Autonomous Systems</strong><br>
    <strong>Time:</strong> December 5, 2025<br>
    <strong>Location:</strong> Daktronics Engineering Hall (DEH 218), South Dakota State University, Brookings, South Dakota<br>
    <strong>Event:</strong> <a href="https://events.vtools.ieee.org/m/519570">IEEE Siouxland Section Computer Society Speaker Event</a>
  </li>
</ul>

<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->
