---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
<h2>University of Nebraska at Omaha</h2>
<ul>
  <ul>
    <li>
    ACMP 2000: Data Analysis and Machine Learning
    <br>
    <small>
      • In Person: Spring 2026<br>
    </small>
  </li>
    <li>
    Sepcial Topic: Introduction of AI Cybersecurity
    <br>
    <small>
      • In Person: Fall 2025<br>
    </small>
  </li>
  <li>
    CYBR 2250: Low-Level Programming
    <br>
    <small>
      • In Person: Fall 2024, Fall 2025 (scheduled)<br>
      • Online: Spring 2025, Spring 2026
    </small>
  </li>
  <li>
    CYBR 8410: Distributed Systems Security
    <br>
    <small> Hybrid: Spring 2025</small>
  </li>
</ul>


<h2> Old Dominion University</h2>
<ul>
  <li>CYSE 301: Cybersecurity Techniques and Operations</li>
  <li>ECE 416/516: Cyber Defense Fundamentals</li>
  <li>CYSE 270: Linux for Cybersecurity</li>
  <li>CYSE 601: Advanced Cybersecurity Techniques and Operations</li>
  <li>CYSE 200T: Cybersecurity, Technology, and Society</li>
</ul>